<div *ngIf="isLoggedIn; else notLoggedIn">
<div class="container">
  <h1 class="mb-4 text-center">Mi Perfil</h1>
  <!-- app-menu.component.html -->
  <div *ngIf="avatarUrl">
    <img class="avatar" [src]="avatarUrl" style="color:red" alt="Avatar del usuario no encontrado">
  </div>
  <form id="profileForm" (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label class="label-input100" for="username">Nombre de Usuario:</label>
      <input type="text" class="form-control input100" id="username" name="username" [attr.readonly]="editMode ? null : true" [(ngModel)]="newUsername" [value]="username">
    </div>

    <div class="form-group">
      <label class="label-input100" for="email">Correo Electrónico:</label>
      <input type="email" class="form-control input100" id="email" name="email" [attr.readonly]="editMode ? null : true" [value]="email">
    </div>


    <div class="form-group">
      <label class="label-input100" for="email">Preferencias:</label>
      <input type="text" class="form-control input100" id="preferencias" name="preferencias" [attr.readonly]="editMode ? null : true" [(ngModel)]="newPreferencias" [value]="preferencias">
    </div>

    <div class="form-group">
      <label class="label-input100" for="avatar">URL del Avatar:</label>
      <input type="text" class="form-control input100" id="avatar" name="avatar" [attr.readonly]="editMode ? null : true" [(ngModel)]="newAvatarUrl" [value]="avatarUrl">
    </div>

    <button type="button" class="btn btn-primary mt-2" [style.display]="editMode ? 'none' : 'block'" (click)="enableEditMode()">Editar Perfil</button>
    <button type="submit" class="btn btn-success mt-2" [style.display]="editMode ? 'block' : 'none'">Guardar Cambios</button>
  </form>
</div>
</div>
<ng-template #notLoggedIn>
  <div>No has iniciado sesión</div>
</ng-template>
