<art-header></art-header>
<form action="action_page.php" method="post">
  <div class="container">
    <div class="mb-3">
      <label for="loginemail" class="form-label"><b>Username</b></label>
      <input type="text" class="form-control" placeholder="Enter Username" name="uname" required id="loginemail">
    </div>

    <div class="mb-3">
      <label for="loginpassword" class="form-label"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="psw" required id="loginpassword">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary mb-3" type="button" id="loginbutton">Login</button>
      <!--Sustitución de Log-out por cancel-->
      <!--<button type="button" class="btn btn-secondary login cancelbtn mb-3" id="logoutbtn">Logout</button>-->
      <button type="button" class="btn btn-secondary login cancelbtn mb-3" id="cancelbtn">Cancel</button>
    </div>


    <div class="mb-3 form-check">
      <input type="checkbox" checked="checked" class="form-check-input" name="remember" id="rememberme">
      <label class="form-check-label" for="rememberme">Remember me</label>
    </div>
  </div>

  <div class="container">
    <span class="psw"><a href="#" id="forgot"  style="color: #0D6EFD">He olvidado mi contraseña</a></span>
  </div>
</form><art-footer></art-footer>
