
<div class="container tilt-in-top-1">
  <div class="card">
    <img src="https://www.artic.edu/iiif/2/{{artwork.image_id}}/full/843,/0/default.jpg" class="card-img-top" alt="{{artwork.thumbnail.alt_text}}">
    <div class="card-body">
      <h5 class="card-title">{{artwork.title}}</h5>
      <h5 class="card-title">{{artwork.artist_title}}</h5>
      <p class="card-text">Fecha de creación: {{artwork.date_start}}</p>
      <p class="card-text">Descripción: {{artwork.thumbnail.alt_text}}</p>
      <p class="card-text">Tipo de pintura: {{artwork.artwork_type_title}}</p>

    </div>
  </div>
</div>
