.pagination{
  margin: 1rem auto 4rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0;
}
.contBot button{
  margin: 0 .3rem !important;
}
.contBot{
  margin-right:2rem;
}
